<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOps">
    <ion-slide>
      <ion-icon name="close" (click)="finish()"></ion-icon>
      <img src="assets/img/logo.png" alt="Development House Logo" />
      <div class="div-info">
        <h1>Bienvenidos</h1>
        <p>
          Hola, mi nombre es Mario Ospino y ésta es la presentación de mi prueba
          técnica para entrar como Desarrollador Junior a <strong>Development House</strong>.
        </p>
      </div>
      <div class="div-info">
       <h4>Datos de contacto</h4>
        <p>
          Mario Andres Ospino Romero <br>Ingeniero de Sistemas <br> mario.ospinoromero@gmail.com <br> 3042119048
        </p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
